.container {
  position: relative;
  width: 100%;
  justify-self: flex-start;
}

.input {
  & input {
    height: 48px;
  }
}

.button {
  position: absolute;
  right: 10px;
  bottom: 6px;
}

.searchIcon {
  display: none;
}

@media (max-width: 380px) {
  .button {
    width: 50px;
  }
  .btnText {
    display: none;
  }

  .searchIcon {
    display: block;
  }
}
